<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445121621299-vlsjrclgbq34qemfg06upug0sfergb0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445121621299-vlsjrclgbq34qemfg06upug0sfergb0r</string>
	<key>API_KEY</key>
	<string>AIzaSyCqtZfX59QAc7n2KX5j6i6CxRIyBPiO1mE</string>
	<key>GCM_SENDER_ID</key>
	<string>445121621299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.rajsolai.blackcofferapp</string>
	<key>PROJECT_ID</key>
	<string>backcofferapp</string>
	<key>STORAGE_BUCKET</key>
	<string>backcofferapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445121621299:ios:1ff2a92693b6bb533ca246</string>
</dict>
</plist>